<h1>Изменение данных</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Показать этого пользователя", @user %> |
  <%= link_to "Вернуться к списку пользователей", users_path %>
</div>