<p style="color: green"><%= notice %></p>

<h1>Пользователи</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <%= link_to "Показать данные пользователя", user %>
    <br><br>
  <% end %>
</div>

<br>

<%= link_to 'На главную', root_path %>