<div class="def_div">
	<%= render partial: 'values/form', locals: { definition: @definition_required } %>
	<div id='result-container'>
		<h5><%= @definition_required[:def] %></h5>
		<%= render partial: 'values/create_message', locals: { values: @values } %>
	</div>
</div>
